header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

header h1 {
    flex: 1; /* h1要素にフレックスの成長を許可 */
    margin: 0;
    color: #fff;
}

nav {
    margin-left: auto; /* nav要素を右に押し出す */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}