

.content{
	white-space: pre;
	display:inline-block;
	border: 1px solid #333;
	padding: 20px;
	margin: auto;
	height: auto;
	line-height: 25px;
	background-color: rgb(249, 252, 249);
	color: black;
	vertical-align:  middle;
	text-align: left;
	border-radius:20px;
	margin: auto;
}

.fare-button {
    display:inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
    height:50px;
	width: 140px;
	margin: 20px;
	/* padding: 1rem 4rem; */
	font-weight: bold;
	border-radius: 10px;
	color: #27acd9;
	border: 3px solid #27acd9;
	box-shadow: 5px 5px #27acd9;
	transition: 0.3s ease-in-out;
}
.fare-button:hover {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: #27acd9;
}

.spring-button {
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	height:50px;
	width: 140px;
	margin: 20px;
	/* padding: 1rem 4rem; */
	font-weight: bold;
	border-radius: 10px;
	color: #27acd9;
	border: 3px solid #27acd9;
	box-shadow: 5px 5px #27acd9;
	transition: 0.3s ease-in-out;
}
.spring-button:hover {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: #27acd9;
}

.facility-button {
	display:inline-block;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	height:50px;
	width: 140px;
	margin: 20px;
	/* padding: 1rem 4rem; */
	font-weight: bold;
	border-radius: 10px;
	color: #27acd9;
	border: 3px solid #27acd9;
	box-shadow: 5px 5px #27acd9;
	transition: 0.3s ease-in-out;
}
.facility-button:hover {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: #27acd9;
}

.access-button {
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	height:50px;
	width: 140px;
	margin: 20px;
	/* padding: 1rem 4rem; */
	font-weight: bold;
	border-radius: 10px;
	color: #27acd9;
	border: 3px solid #27acd9;
	box-shadow: 5px 5px #27acd9;
	transition: 0.3s ease-in-out;
}
.access-button:hover {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: #27acd9;
}